
keras==2.13.1


numpy==1.24.3

Pillow==10.0.0

requests==2.31.0


tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
termcolor==2.3.0

urllib3==1.26.16

